[Desktop Entry]

Type=Application

Version=1.0
Name=Steam

StartupWMClass=Steam
Exec=steam
StartupNotify=true
Terminal=false
Icon=steam
Categories=AudioVideo;Amusement

